table, td {
  border: 1px solid black;
  height: 40px;
  vertical-align: bottom;
}
tr:nth-child(even) {background-color: #f2f2f2;}
body {
  color: blue;
}
text {
  color: blue;
}
h1 {
  color: green;
}
